<div class="book-list-component">
    <table class="table">
        <thead>
        <tr>
            <th class="hidden-xs hidden-sm">Изображение</th>
            <th class="" (click)="sortBy('title')">
                Заголовок
                <span class="glyphicon glyphicon-sort-by-attributes"
                      [class.text-danger]="_dataService.getSorting()=='title'" aria-hidden="true"
                ></span>
            </th>
            <th class="hidden-xs">Авторы</th>
            <th class="hidden-xs">Страниц</th>
            <th class="hidden-xs hidden-sm">Издательство</th>
            <th class="" (click)="sortBy('publicationDate')">
                Год публикации
                <span class="glyphicon glyphicon-sort-by-attributes"
                      [class.text-danger]="_dataService.getSorting()=='publicationDate'" aria-hidden="true"
                ></span>
            </th>
            <th class="hidden-xs hidden-sm">Дата выхода в тираж</th>
            <th class="">ISBN</th>
        </tr>
        </thead>
        <tr *ngFor="let book of aBook" (click)="selectBook(book)">
            <td class="hidden-xs hidden-sm text-center">
                <span *ngIf="book.imageBase64" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </td>
            <td>{{book.title}}</td>
            <td class="hidden-xs">
                <div class="label label-default center-block" *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}</div>
            </td>
            <td class="hidden-xs">{{book.pageCount}}</td>
            <td class="hidden-xs hidden-sm">{{book.publisher}}</td>
            <td class="">{{book.publicationDate}}</td>
            <td class="hidden-xs hidden-sm">{{book.releaseDate}}</td>
            <td>{{book.isbn}}</td>
        </tr>
    </table>
</div>