<div class="home-component">

    <book-list-component
        [aBook]="aBook"
        (selectBookChange)="selectBook($event)"
    ></book-list-component>

    <hr/>
    <div class="text-center">
        <button class="btn btn-default" *ngIf="!selectedBook" (click)="appendBook()" > Добавить Книгу </button>
    </div>

    <book-detail-component
        *ngIf="selectedBook"
        [model]="selectedBook"
        (modelChange)="updateBook($event)"
        (modelRemove)="removeBook($event)"
    ></book-detail-component>

</div>